# Node.js
node_modules/

# Logs
logs/
*.log

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Build output
dist/
build/

# Editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing
coverage/

# Miscellaneous
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore

# Fly
fly.toml